@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1 {
    margin-top: 90px;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px 60px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.32px;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #FF2D2D;
    border-color: #FF2D2D;
}

.btn-primary:hover {
    background-color: #f76c6c;
    border-color: #f76c6c;
}

.btn-primary:active {
    background-color: #b52020;
    border-color: #b52020;
}

.btn-outline {
    border-color: #FF2D2D;
    color: #FF2D2D;       
}

.d-flex {
    display: flex!important;    
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center!important;
}

.justify-content-between {
    justify-content: space-between;
}

.intro_content,
.intro_video,
 .services_desc,
 .services_items {
    width: 50%;
    box-sizing: border-box;
}

h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.services,
.features {    
    margin-top: 100px;
}

/*#region INTRO styles*/	


.intro .container {
    padding-top: 103px;
    padding-bottom: 94px;
}


.intro_content h1 {
margin-top: 0;
}
.intro_content {
    padding-right: 120px;
}

.intro p {
    line-height: 1.75em;
    margin-top: 36px;
    margin-bottom: 64px;
}

.intro_v img {
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

 /*#endregion*/

/*#region SERVICES styles*/	

.services .container {
    position: relative;
    padding-bottom: 34px;
}

.services .container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ECECEC;    
}

.services_desc {
    padding-right: 100px;
}
.services_desc p {
    margin-bottom: 64px;
    line-height: 28px;
}

.services_items {
    display: flex;
    flex-wrap: wrap;
}
.services_items > div {
    width: 50%;
    min-width: 250px;
    box-sizing: border-box;
    margin-bottom: 53px;
}
.services_items > div:nth-child(odd){ 
    padding-right:20px;
}
.services_items h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    position: relative;
    margin-top: 70px;
}

.services_items h3:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: red;
    top: -70px;
}

.mngmnt h3::before {
    background: url(../img/serv_i_gear.svg) no-repeat center;
}

.uides h3::before {
    background: url(../img/serv_i_pencil.svg) no-repeat center;
}

.brndng h3::before {
    background: url(../img/serv_i_gem.svg) no-repeat center;
}

.anim h3::before {
    background: url(../img/serv_i_track.svg) no-repeat center;
}

.services_items p {
    line-height: 28px;
}

 /*#endregion*/

 /*#region FEATURES styles*/	
 .features {
    margin-bottom: 137px;
 }

.features hgroup {
    position: relative;
    width: 100%;
    margin-bottom: 64px;
    text-align: center;
}

.features hgroup:after {
    content: '';
    position: absolute;
    width: 134px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -67px;
    background-color: #FF2D2D;    
}

.features hgroup > * {
    width: 50%;
    margin: 0 auto;
}
.features hgroup h2 {
    margin-bottom: 28px;
}

.features hgroup p {    
    line-height: 28px;
    margin-bottom: 28px;
}

.service-filter {
    position: relative;
    width: 100%;
    margin-bottom: 57px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-link.active {
    color: #FF2D2D;
}
.service-item {
    margin-bottom: 20px;
    margin-right: 20px;
}

.service-item  img{
    flex-basis: 20%;
    min-width: 250px;
    max-width: 290px;
    /* width: 298px;
    height: 293px; */
    object-fit: cover;
}


  /*#endregion*/

  /*#region TEAM styles*/	
 .team {
    margin-bottom: 137px;
 }

.team hgroup {
    position: relative;
    width: 50%;
    margin-bottom: 64px;
}

.team hgroup:after {
    content: '';
    position: absolute;
    width: 134px;
    height: 2px;
    left:0;
    bottom: 0;
    background-color: #FF2D2D;    
}

.team hgroup h2 {
    margin-bottom: 28px;
}

.team hgroup p {    
    line-height: 28px;
    margin-bottom: 28px;
}

.team-member-selected {
    margin-right: 73px;    
}

.team-member-selected img {
    width: 320px;
    height: 460px;
}
.team-member-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.team-member-section h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.team-member-section p {
    line-height: 28px;
}

.socials {
    margin: 20px 0;
}

.socials a {
    color: #000;
    font-size: 18px;
    font-style: italic;
    margin-right: 30px;
    text-decoration: none;
}

.socials a:hover {
    font-weight: 600;
}

.socials a.fb:hover {
    color: #38529a;
}

.socials a.dr:hover {
    color: #d04375;
}

.socials a.bh:hover {
    color: #0258f7;
}

.socials a.tw:hover {
    color: #1c96e8;
}

.team-member {
    position: relative;
    margin-top:20px;
}

.team-member:not(:last-child) {
    margin-right: 20px;
}

.team-member img {
    width: 197px;
    height: 214px;
    object-fit: cover;
}

.team-member .desc {
    position: absolute;
    width: 100%;
    bottom: 2px;
    display: flex;
    opacity: 0;
    justify-content: center;
    padding: 20px 0;
    background: #00000070;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.3;
    transition: opacity 0.3s linear; 
}

.team-member:hover .desc {
    opacity: 1;
}

/*#endregion*/

/*#region SUBSCRIPTION styles*/
.subscription {
    padding: 150px 0 140px;
    background: #000;
    color: #fff;
  }

  .subscription hgroup {
    margin-bottom: 56px;
    text-align: center;
  }
  .subscription hgroup h2 {
    margin-bottom: 28px;
}
.subscription form {
    width: 100%;
    justify-content: center;   
    gap: 20px;
}

.subscription input[type=email] {
    width: 524px;
    box-sizing: border-box;
    padding: 30px 38px;
    border-radius: 0.25rem;
}

.subscription input[type=email]:focus {
    border-color: #6e6e6e;
    box-shadow: #6e6e6e6b 0 0 0 4px;
    outline: none;
}
/*#endregion*/

/*#region GETINTOUCH styles*/
.get_in_touch {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 92px;
    /* padding-bottom: 110px; */
    margin-bottom: 120px;
 }

.get_in_touch hgroup {
    position: relative;
    /* width: 50%; */
    margin-bottom: 64px;
    padding-bottom: 40px;
}

.get_in_touch hgroup p {
    margin: 0;
    line-height: 1.75;
    max-width: 720px;
}

.get_in_touch hgroup:after {
    content: '';
    position: absolute;
    width: 134px;
    height: 2px;
    bottom: 0;    
    background-color: #FF2D2D;    
}

.feedback .form_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 731px;
    margin-right: 107px;
}

.form_container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deco_left {
    flex: 1 1 auto;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    box-sizing: border-box;
    padding: 130px 53px 125px 78px;
    min-height: 481px;
    max-width: 411px;
    line-height: 1.5;
}
.contacts,
.deco_right {
    background: #000;
}

.deco_right {
    min-height: 481px;
    flex: 1 1 auto;
}

.form_container input {
    color: #8e8e8e;
    box-sizing: border-box;
    padding-left: 54px;
    padding-right: 54px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    margin-bottom: 45px;
}

#userName, #userEmail {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 340px;
    height: 70px;
    background-color: #f3f3f3;
}
#userMessage {
    resize: none;
     font-size: 16px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        width: 100%; 
    max-width: 730px;
    height: 250px;
    box-sizing: border-box;
    padding: 35px 54px;
    margin-bottom: 45px;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.form_container button {
    width: 100%;
    max-width: 731px;
}
.contacts {
    display: flex;
}
.contacts h3 {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.contacts span {
    /* display: inline-block; */
}
/*#endregion*/

	/*#region PAGE styles*/	
    
    .app {
        margin: 0;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        font-size: 16px;        
    }

    .f_fo {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .p_content {
        flex-grow: 1;
    }
    footer {
        background-color: #2c2c2c;
        padding: 0 1em;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1249px;
        margin: 0 auto;
        padding-left: 1vw;
        padding-right: 1vw;
        display: flex;
    }

    .foo_link {
        display: inline-block;
    }

    .foo_link:hover img{
        opacity: 0.8;
    }

    .foo_socials > .foo_link:not(:last-child) {
        margin-right: 18px;
    }
    /*#endregion*/

	/*#region MAIN NAV styles*/	
    .h_wrap {
        padding-top: 30px;
    }
    
    .h_wrap, .i_wrap {
        background-color: #F6F2F2;
    }
    
    header {
        display: flex;
        align-items: stretch;
        justify-content: center;
        box-sizing: border-box;
        max-width: 1250px;
        margin: 0 auto;
        min-height: 89px;
        background-color: #000;
    }
    
    header ul {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: -20px;
    }
    
    header ul li {
        display: flex;
        align-items: stretch;
        justify-content: center;
        min-height: 89px;
    }
    
    header a {
        display: flex;
        align-items: center;
        padding: 0 30px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.9em;
        font-weight: 800;
    }
    
    header a:hover {
        background-color: #FF3F40;
    }
    
    header a:active {
        background-color: #c52323;
    }

    /*#endregion*/

/*#region FOOTER styles*/	
.foo_cont {
    box-sizing: border-box;
    padding: 19px 0 0;
    color: #e0e0e0;
    align-items: center;
    min-height: 110px;
}

.foo_legal {
    margin: 0;
    line-height: 1.75;
}

.foo_socials > .footer__link:not(:last-child) {
    margin-right: 1.2em;
}
 /*#endregion*/



.item {
    flex: 1 1 250px;
    background-color: rgb(255, 174, 174);
    margin: 10px;
    padding: 20px;
}

.item img {
    width: 95%;
}

@media screen and (max-width: 1200px) {
    .intro_video,
    .intro_content {
        width: 100%;
        text-align: center;
    }
    .intro_content {
        padding: 0 2vw 10vw;
    }
    
    .feedback {
		margin: 0 auto;
		margin-bottom: 30px;
		padding: 0 2vw;
	}

	.form_container {
		margin-right: 0;
	}

	.get_in_touch {
		flex-wrap: wrap;
		padding-left: initial;
		padding-right: initial;
		padding-bottom: 0;
        margin-bottom: 0;
	}
    
	.deco_left {
		flex: 0 1 auto;
	}

	.contacts {
		width: 100%;
		max-width: 100%;
		grid-column: 1 / 6;
		grid-row: 2 / 3;
	}

	.get_in_touch::after {
		content: initial;
	}
}
@media screen and (max-width:900px) {
    .services_desc, .services_items {
        width: 100%;
    }
    .services_desc {
        padding: 0 2vw 10vw;
    }

    .services_items {
        padding: 0 2vw;
    }

    .team hgroup {
        width: 100%;
        text-align: center;
    }

    .team hgroup:after {
        left: 50%;
        margin-left: -67px;
    }
    .team-view {
        justify-content: center;
    }

    .team-member-section {
        padding: 0 2vw;
    }

    .team-member-section h3 {
        text-align: center;
    }
}

@media screen and (max-width:700px) {
    .item {
        flex: 1 1 100%;
    }

    .intro {
        width:100%;
    }
    .intro_content {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .intro_video {
        order: -2;
        margin-bottom: 65px;
    }

    .services_desc, 
    .services_items {
        width: 100%;
        text-align: center;
        padding: 0 3rem 5rem;
    }

    h3:before {
        left: 50%;
        margin-left: -20px;
    }

    .services_items > div {
        width: 100%;
    }

    .features hgroup {
        padding: 0 2rem;
    }

    .features hgroup > * {
        width: 100%;       
    }

}

@media screen and (max-width:380px) {
   
}

@media screen and (max-width: 855px){
    .team-view {
        display: flex;
        flex-wrap: wrap;
    }

    .team-member-selected {
        margin-bottom: 18px;
        margin-right: 0;
    }
    }

   